body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


#drum-machine{
  width: 500px;
  background-color: rgb(128, 128, 128);
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 5px;
}

#display{
  width: 150px;
  height: 50px;
  margin: 0 150px 0 150px; 
  background-color: rgba(0, 179, 255, 0.792);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  color: black;
  font-size: 25px;
  font-weight: 600;
}

.drum-pad{
  width: 100px;
  height: 100px;
  background-color: rgb(200, 199, 199);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 15px;
  color: black;
  font-size: large;
  font-style: bold;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: black 3px 3px 5px;
}

.drum-pad:hover{
  background-color: rgb(250, 89, 89);
  box-shadow: black 3px 3px 5px;
}
.clip{
  display: none;
}




